@font-face {
	font-family: '';
	src: url('../font/');
}

@font-face {
	font-family: '';
	src: url('../font/');
}


body {
	font-family: 'Montserrat',"ヒラギノ角ゴ Pro W3",
	sans-serif;
	color: #333333;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #37c;
}

img {
	/* imgとdivの間の下部の隙間対策 */
	vertical-align: bottom;
}

#container {
	width: 100%;
}

h2{
	text-transform: uppercase;
	font-size:25pt;
	font-weight: 400;
	text-align: center;
}

h3{
	font-size:1.6em;
	font-weight: 400;
	text-align: left;
	color: #678;
	margin-bottom: 2.5%;
	line-height: 1.4em;
}

p{
	font-size:11pt;
	font-weight: 400;
	text-align: left;
	color: #555;
	margin-bottom: 4%;
}

b{
  font-weight: 500;
  font-weight: bold;
  color: #555;
}


